body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.app-title {
  font-size: 36px;
  margin: 20px 0 10px;
  text-align: center;
}

#search-container {
  margin: 5em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 1em; 
}

#search-container input {
  padding: 10px;
  display: block;
  border-radius: 4px;
}

button {
  grid-column: span 2;
  margin: 10px auto; 
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.result {
  grid-column: span 2;
  margin-top: 20px;
  text-align: left;
}
